

#acceuil:hover{
    background-color: #3498db!important;
}

#hotel:hover{
    background-color: #3498db!important;
}

#vols:hover{
    background-color: #3498db!important;
}

#event:hover{
    background-color: #3498db!important;
}


#voyage:hover{
    background-color: #3498db!important;
}

#contact:hover{
    background-color: #3498db!important;
}